body {
  text-align: center;
  background-color: #DCDCDC;
  font-family: monospace;
}

#increaseTopMargin {
	margin-top: 50px;
}

#decreaseTopMargin {
	margin-top: 1px;
}

p {
	font-family: monospace;
}

footer {
	clear: both;
    position: relative;
    height: 200px;
}

.imagegallery {
	align-content: center;
	margin-top: 100px;
}

.container {
  position: relative;
  float: left;
  width: 25%;
  height: 400px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  margin-right: 0px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.buttonInfoShow {
  position: relative;
  float: bottom;	
  background-color: black;
  color: white;
  border: 2px solid #555555;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 50px;
}

#panel, .flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  border: solid 1px #a6d8a8;
  margin: auto;
}

#moreInfoAbout, #moreInfoCV, #moreInfoSkills, #moreInfoMisc {
  display: none;
  position: center;
  float: center;
  border: 2px solid #555555;
  padding: 12px 28px;
  margin: auto;
  text-align: center;
 }

  .buttonInfoHide {
  display: none;	
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  border: 2px solid #555555;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
 }

 .buttonContact {
  position: relative;
  float: bottom;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 400px;
  position: absolute;
  right:    0;
  bottom:   0;
}

.buttonContact:hover {
  background-color: #555555;
  color: white;
}

 .buttonDate {
  position: relative;
  float: bottom;	
  background-color: black;
  color: white;
  border: 2px solid #555555;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 50px;
 }

.checked {
  color: orange;
}
